body{
  font-family: Helvetica;
  font-size: 13px;
  color: #454545;
  background-image: url("assets/background.png");
  margin: 0;
  padding-bottom: 20px;
}

.logo h1{
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.service li{
  font-size: 11px;
}

h2{
  font-size: 16px;
  font-weight: 400;
  height: 30px;
  border-bottom: 2px solid #ccc;
}

h3{
  font-size: 16px;
  font-weight: 400;
  color: #069;
}

h4{
  font-size: 15px;
  font-weight: 400;
  color: #069;
}

footer ul li{
  color: #069;
}

p {
  margin: 0;
}

.content {
  min-width: 850px;
  background-color: white;
  width: 87.5%;
  box-shadow: 0 0 60px hsla(0, 0%, 0%, 0.6);
  margin-top: 20px;
  margin-bottom: 20px;
}

.breadcrumb {
  height: 25px;
  top: 15px;
}



.languages {
  border-left: 1px solid #e5e5e5;
}

.languages li {
  padding: 5px;
}

.languages .active {
  background-color: #e5e5e5;
}

.logo img {
  width: 254px;
  border-right: 1px solid #e5e5e5;
}

/* Add search icon here */
.search::before {
  height: 18px;
  width: 18px;
  padding: 5px;
}

.search input {
  padding: 0 30px;
  height: 25px;
  max-width: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

nav {
  background: linear-gradient(
    to bottom,
    #e4e4e4 0,
    #e2e2e2 39%,
    #ddd 79%,
    #d5d5d5 91%,
    #cfcfcf 95%,
    #bebebe 99%
  );

}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav li {
  text-align: center;
  background: linear-gradient(
    to bottom,
    #e8e8e8 0,
    #f7f7f7 61%,
    #f7f7f7 89%,
    #f5f5f5 91%,
    #ececec 95%,
    #d7d7d7 100%
  );
  height: 70px;
  border: 1px solid #b8b8b8;
  width: max-content;
  width: 120px;
  word-wrap: wrap;
  list-style-type: none;
  padding: 20px;
}

/* Add triangle-bottom icon here */
nav li::after {
  width: 8px;
  height: 4px;
  margin-top: auto;
}

#title{
  margin: 0 !important;
}
.article-wrapper{
  display: flex;
  flex-direction: row;

}

.article {
  margin-top: 15px;
  min-width: 150px;
  height: 400px;
  margin-left: 15px;
}

.article h3 {
  margin: 22px 0 11px 0;
}

.article img{
  width: 100%;
}

.right .all {
  color: #069;
}

/* Add list icon here */
.right .all::before {
  width: 10px;
  height: 10px;
  margin: 2px 5px 0;
}

.media h4 {
  margin: 10px 0 0;
}

.media{
  margin-top: 15px;
  border-bottom: 0px none rgb(69, 69, 69);
  padding-bottom: 15px;
}

footer {
  margin-top: 32px;
  border-top: 1px solid #d5d5d5;
  background: #f5f5f5;
  margin-right: 15px;
  margin-left: 15px;
}
