p {
  margin: 0;
}

.content {
  min-width: 850px;
}

.breadcrumb {
  height: 25px;
}

.languages {
  border-left: 1px solid #e5e5e5;
}

.languages li {
  padding: 5px;
}

.languages .active {
  background-color: #e5e5e5;
}

.logo img {
  width: 254px;
  border-right: 1px solid #e5e5e5;
}

/* Add search icon here */
.search::before {
  height: 18px;
  width: 18px;
  padding: 5px;
}

.search input {
  padding: 0 30px;
  height: 25px;
  max-width: 100px;
}

nav {
  background: linear-gradient(
    to bottom,
    #e4e4e4 0,
    #e2e2e2 39%,
    #ddd 79%,
    #d5d5d5 91%,
    #cfcfcf 95%,
    #bebebe 99%
  );
}

nav li {
  background: linear-gradient(
    to bottom,
    #e8e8e8 0,
    #f7f7f7 61%,
    #f7f7f7 89%,
    #f5f5f5 91%,
    #ececec 95%,
    #d7d7d7 100%
  );
}

/* Add triangle-bottom icon here */
nav li::after {
  width: 8px;
  height: 4px;
  margin-top: auto;
}

.article {
  min-width: 150px;
}

.article h3 {
  margin: 22px 0 11px 0;
}

.right .all {
  color: #069;
}

/* Add list icon here */
.right .all::before {
  width: 10px;
  height: 10px;
  margin: 2px 5px 0;
}

.media h4 {
  margin: 10px 0 0;
}

footer {
  border-top: 1px solid #d5d5d5;
  background: #f5f5f5;
}
